h1 {
    color: blue;
    font-size: 48px;
    text-align: center;
    font-family: 'Times New Roman', Times, calibri, serif;
}

li {
    color: brown;
    font-size: 40px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

li {
    text-decoration: underline;
}

p {
    color: black;
    font-size: 35px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: wheat;
}